<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<title>e-gospodarz</title>
<meta charset="utf-8" />

</head>
<body>

<div id="wrapper">
	<div id="log"><img src="images/log.png" alt="" />
	</div>
	<div id="logo"><img src="images/logo.png" alt="" />
	</div>
	<div id="menu">
		<a href="index.html" class="item item1">
			grafik rezerwacji
		</a>
		<a href="rezerwacja.html"  class="item item2">
			nowa rezerwacja
		</a>
		<a href="#" class="item item3 selected">
			zaliczka
		</a>
		<a href="rozliczenie.html"  class="item item4">
			rozliczaj się
		</a>
		<a href=" "  class="item item5">
			wyślij fakturę
		</a>
		<div class="item item6">
			moje dokumenty
		<div id="rozwin">
		<ul style="list-style-type: square;">
		<li class="roz oplata white"><a href="">
			opłata klimatyczna
		</a></li>
		<li  class="roz rejestr white"><a href="">
			rejestr kasowy
		</a></li>
		<li class="roz wystawione white"><a href="">
			wystawione faktury
		</a></li>
		</ul>
		</div>
		</div>
	</div>
	
	<div id="content">
	<div id="lpanel">
	<ul>
	<li class="moje moje1 black"><a href="goscie.html">
	MOI GOŚCIE
	</a></li>
	<li class="moje moje2 black"><a href="pokoje.html">
	MOJE POKOJE
	</a></li>
	</ul>
	<div class="titem opcja2"><img src="images/opcja.png" alt="" />
	</br>zapisz i zmień status rezerwacji
	</div>
	<div class="titem pobierz"><img src="images/pobierz.png" alt="" />
	</br>pobierz potwierdzenie otrzymania zaliczki
	</div>
	<div class="titem wyślij"><img src="images/wyslij.png" alt="" />
	</br>wyślij potwierdzenie otrzymania zaliczki
	</div>
	</div>
	<div id="ppanel">
	<div id="lupa"><img src="images/lupa.png" alt="" />
	</div>
	<div id="podpis">
	(wpisz pierwsze litery imienia lub nazwiska)
	</div>
	
	<input type="text" name="szukaj" id="szukaj" size="35"></br>
		
	<div class="bg bg3">
	
	</div>
	
	<div id="z_zaliczka">
	<div class="czcionka aktualna2">
	<label for="aktualna2">Termin wpłaty zaliczki:</label>
	<input type="text" name="aktualna2" id="aktualna2" size="23"></br>
	</div>
	<div class="czcionka kwota2">
	<label for="iname">Kwota zaliczki (pln):</label></br>
	<input type="text" name="kwota2" id="kwota2" size="23"></br>
	</div>
	<div class="czcionka otrzymano">
	<label for="iname">Otrzymano dnia:</label></br>
	<input type="text" name="otrzymano" id="otrzymano" size="23"></br>
	</div>
	</div>
	
	<div class="czcionka z_inne">
	Termin:</br></br>
	Suma dni pobytu:</br></br>
	Cena pokoju:</br></br>
	Cena po negocjacji / promocja pozasezonowa/ dla st.</br></br>

	</div>
	
	<div class="bg bg4">
	
	</div>
	
	</div>